.page {
  margin: 0 auto; /* */
  font-family: 'Inter', sans-serif; /*,'Helvetica Neue', Arial, sans-serif;*/
  min-height: 100vh;
  /* figma request */
  background-color: #2a2c2f;
  /*border: 1px solid white;*/
  margin-top: 34px;
  max-width: 1184px;

}

@media screen and (max-width: 540px) {
  .page {
    margin-top: 20px;
  }
}




