.photo-grid__list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat( 3, minmax(200px, 1fr));
  gap: 16px;
}


