.header {
  /*border: 1px solid green;*/
  width: calc( 100% - 100px * 2);
  margin: 0 auto 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* The break points should be between 1024 to 1280 */
@media screen and (max-width: 1148px) {
    .header {
      width: calc(100% - 48px * 2);
      margin-bottom: 50px;
    }
}

/* The break points should be between 768 to 1024 */
@media screen and (max-width: 860px) {
  .header {
    width: calc(100% - 24px * 2);
  }
}

/* the break points should be between 320 to 768 */
@media screen and (max-width: 540px) {
  .header {
    width: calc(100% - 16px * 2);
  }

}
