/*********************/
/*** header *********/
/*******************/


.header {
  border: 1px solid yellow;
  width: calc( 100% - 148px * 2); /* 2*148 =*/
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__logo {
  width: 190px;
  height: 44px;
}

.header__nav {
  margin: 0;
  padding: 0;
}


.header__list {
  padding: 0;
  margin: 12px 0 0;
  display: flex;
  list-style: none;
  font-size: 24px;
  line-height: 28px; /*1.17*/
}

.header__list-item {
  margin-left: 18px;
  position: relative;
}

.header__link-lang {
  color: #fff;
  text-decoration: none;
}

/* Boolean modifider text-decoration: underline
  but we want ---- like in the figma
*/
.header__link-lang_active::after {
  /*text-decoration: underline;*/
  content: "";
  width: 29px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  /* stick uderline */
  bottom: -2px;
  left: 0;
}

/*********************************************/
/**********    lead                *********/
/*********************************************/
.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc( 100% - 148px * 2); /* 2*148 =*/
  margin: 58px auto 0;
  border: 1px snow solid;
  color: #fff;
}

.lead__title {
  border: 1px solid firebrick;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  max-width: 80%;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.lead__subtitle {
  border: 1px solid darkturquoise;
  max-width: 70%;
  padding: 0;
  margin: 32px 0 64px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  margin: 0;
  width: 100%;
  object-fit: contain;
  /*object-position: 50% 50%;*/
}

.lead__caption {
  margin: 8px 0 0;
  align-self: flex-start;
  letter-spacing: 1.5px;
  font-size: 10px;
  text-transform: capitalize;
}


/*******************************************/
/*****      Intro                     *****/
/*****************************************/

.intro {
  border: 1px solid palegreen;
  max-width: 58%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 114px auto 0 148px;
  min-height: 569px;
}



.intro__title {
  margin: 0;
  padding: 0;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  color: white;
  border: 1px solid teal;
  /*max-width: 90%*/

}

.intro__text_brief {
  margin: 0;
  margin-top: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: white;
  border: 1px solid green;
}

.intro__text_description {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  color: white;
}


.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style: none;

}

.intro__list_text {
  color: #fff;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.intro__list_accent {
  font-weight: 700;
}

/********************************************/
/********    photo-grid                   **/
/******************************************/
.photo-grid {
  margin: 92px  0;
  /*margin-left: 46px;
  margin-right: 46px;*/
  border: 1px solid blanchedalmond;
  list-style-type: none;
  padding: 0;
  max-width: 100%;
  /*margin: 0 auto;*/
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat( 3, minmax(200px, 1fr));
  gap: 16px;
}

.photo-grid__list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat( 3, minmax(200px, 1fr));
  gap: 16px;
}


.photo-grid__item {
  border: 1px solid deepskyblue;
  /*width: 284px;
  height: 213px;*/
  margin: 0 auto;
}

.photo-grid__image {
  width: 100%;
  height: 213px;
  object-fit: fill;
}

/*********************************************/
/**********    places                *********/
/*********************************************/

.places {
  border: 1px solid fuchsia;
  width: calc( 100% - 48px * 2);
  margin: 0 auto;

}

.places__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid burlywood;
}

.places__list-item {
  border: 1px solid greenyellow;
  margin: 80px 0 0;
  padding: 0;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px,490px));
  grid-template-rows: repeat(auto-fit, minmax(48px,1fr));
  column-gap: 40px;
}

.places__list-item:first-of-type{
  margin-top: 0;
}


.places__title {
  margin: 0 0 48px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.places__website {
  padding: 0;
  margin: 30px 0 0;
  list-style: none;
}

.places__website-item {
  /*margin-left: 40px;*/
 }

.places__url-heading {
  margin: 0;
  color: #aaa;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;

}

.places__url-link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin: 4px 0 0;
}

.places__image {
  width: 460px;
  /*height: 460px;*/
  object-fit: contain;
}

.section-description {
  border: 1px solid forestgreen;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

}

.places__paragraph {
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}

.places__price {
  line-height: 26px;
}

.columns {

}

.two-columns {

}


/*********************************************/
/**********   cover                *********/
/*********************************************/
.cover {
  margin-top: 92px;

}

.cover__link {
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  background-image: url(../../images/cover-route-66.jpg);
  position: relative;

}

.cover__link::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  transition: .5s;
}

.cover__link:hover::after {
  opacity: .8;
}

.cover__text {
  /*text-align: center;*/
  z-index: 1;
}

.cover__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
}

.cover__subtitle {
  margin: 32px auto 0;
  font-size: 18px;
  line-height: 22px;
  max-width: 320px;
}


/*********************************************/
/**********   cover                *********/
/*********************************************/
.footer {
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
}

.footer__list-link{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__list-item {
  margin-right: 18px;
}

.footer__link {
 /* margin: 0 0 24px 18px;*/
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 18px;

}

/*
.footer__link:first-of-type {
  margin-left: 0;
}*/

.footer__copyright {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

/* copyright sign */
.footer__copyright::before {
  content:'  \00a9';
 }



/************ Media **************/

/* the break points shold be between 1024 to 1280 */
@media screen and (max-width: 1148px) {
  /******************************/
  /***** Header ****************/
  /****************************/
  .header {
    border:1px dashed palevioletred;
    width: calc(100% - 48px * 2);
  }

/******************************/
/*********** Lead  ************/
/*****************************/
.lead {
  border: 1px solid deepskyblue;
  width: calc( 100% - 48px * 2); /* 2*148 =*/
  margin: 50px auto 0;
}

.lead__title {
  max-width: 75%;
}

.lead__subtitle {
  max-width: 60%;
  margin-bottom: 56px;
}

.lead__image {
  max-width: 100%;
}

/******************************/
/*********** intro  ************/
/*****************************/
.intro {
  background: deepskyblue;
  border: 1px dashed palegreen;
  margin-left: 48px;
  max-width: 70%;
}

.intro__text_brief {
  max-width: 88%;
}

/******************************/
/*********** photo-grid  ************/
/*****************************/

.photo-grid {
  /**grid-template-columns: repeat( auto-fit, minmax(300px , 1fr));
  grid-template-rows: repeat( 4, minmax(180px, 1fr));*/
  margin-left: 24px;
  margin-right: 24px;
  gap: 14px;
}

.photo-grid__image {
  width: 300px;
  height: 225px;
}


}




/* the break points shold be between 768 to 1024 */
@media screen and (max-width: 860px) {
  /******************************/
  /***** Header ****************/
  /****************************/
  .header {
    border: 1px solid seagreen;
    width: calc(100% - 24px * 2);
  }

  /******************************/
/*********** Lead  ************/
/*****************************/
.lead {
  border: 1px solid deepskyblue;
  width: 100%
}

.lead__title {
  max-width: 95%;
  margin-left: 24px;
  margin-right: 24px;
}

.lead__subtitle {
  max-width: 79%;
  margin-left: 174px;
  margin-right: 174px;
}

.lead__caption {
  margin-left: 24px;
}

/*******************************/



}

/* the break points shold be between 1024 to 1280 */
@media screen and (max-width: 540px) {
  .header {
    border: 1px solid tan;
    width: calc(100% - 16px * 2);
  }

  .header__logo {
    width: 156px;
    height: 36px;
  }



  .header__list {
    font-size: 18px;
    line-height: 20px;
  }

}
