.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  margin: 0 0 32px;
  text-align: center;
  max-width: 690px;
}


/* The break points should be between 320 to 768 */
@media screen and (max-width: 540px) {
 .lead__title {
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 110%;
  max-width: 288px;
  }
}





