.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  margin: 0 132px 32px; /* 280 - 148 = 132 */
  text-align: center;
}



/* The break points should be between 1024 to 1280 */
@media screen and (max-width: 1148px) {
  .lead__title {
      margin-left: 104px;
      margin-right: 104px;
    }
}


/* The break points should be between 768 to 1024 */
@media screen and (max-width: 860px) {
  .lead__title {
   /* max-width: 95%;*/
   margin-left: 24px;
   margin-right: 24px;
  }
}

/* The break points should be between 320 to 768 */
@media screen and (max-width: 540px) {
 .lead__title {
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 110%;
  /*max-width: 70%;*/
  }
}





