.intro {
  /*border: 1px solid palegreen;*/
  max-width: 690px;
  display: flex;
  flex-direction: column;
  margin: 0 148px 92px;
  padding: 0;
  color: #fff;
}


/* The break points should be between 1024 to 1280 */
@media screen and (max-width: 1148px) {
  .intro {
    margin-left: 48px;
    margin-right: 48px;
  }
}

/* The break point should be between 768 to 1024 */
@media screen and (max-width: 860px) {
    .intro {
      max-width: 100%;
      margin: 0 24px 88px;
    }
}

/* The break points should be between 320 to 768 */
@media screen and (max-width: 540px) {
  .intro {
    margin: 0 16px 64px;
  }
}
