.cover {
  margin-top: 92px;
}


/* The break points should be between 1024 to 1280 */
@media screen and (max-width: 1148px) {
.cover__link {
  min-height: 640px;
  }
}

/* The break points should be between 768 to 1024 */
@media screen and (max-width: 860px) {
  .cover {
    margin-top: 89px;
  }

  .cover__link {
    min-height: 480px;
  }
}

/* the break points should be between 320 to 768 */
@media screen and (max-width: 540px) {
  .cover {
    margin-top: 64px;
  }

  .cover__link {
    min-height: 200px;
    /*background-size: cover;
    background-repeat: no-repeat;*/
}


}
