.cover {
  margin-top: 92px;
}

/* The break points should be between 768 to 1024 */
@media screen and (max-width: 860px) {
  .cover {
    margin-top: 89px;
  }
}

/* The break points should be between 320 to 768 */
@media screen and (max-width: 540px) {
  .cover {
    margin-top: 64px;
  }
}
