.lead__caption {
  margin: 0;
  align-self: flex-start;
  letter-spacing: 1.5px;
  font-size: 10px;
  line-height: 140%;
  text-transform: uppercase;
  max-width: 690px;
}

/* The break points sholud be between 768 to 1024 */
@media screen and (max-width: 860px) {
  .lead__caption {
   margin-left: 24px;
  }
}

/* The break points should be between 320 to 768 */
@media screen and (max-width: 540px) {
  .lead__caption {
    margin-left: 16px;
    max-width: 288px;
  }
}
