.cover__title {
  margin: 0;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
}


/* the break points should be between 320 to 768 */
@media screen and (max-width: 540px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
  }
}
