.cover__title {
  margin: 0;
  font-size: 72px;
  line-height: 1.06; /*76px;*/
  font-weight: 900;
}




/* there was bug with the text therefore i use it */
@media screen and (max-width: 630px) {
  .cover__title {
    text-align: center;
  }
}


/* the break points should be between 320 to 768 */
@media screen and (max-width: 540px) {

  .cover__title {
    font-size: 32px;
    line-height: 1.09; /*35px;*/
  }
}
