.intro__title {
  margin: 0 0 40px;
  padding: 0;
  font-size: 54px;
  line-height: 107%; /*58px;*/
  font-weight: 900;
  max-width: 690px;
}


/* The break points should be between 1024 to 1280 */
@media screen and (max-width: 540px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%; /*58px;*/
    max-width: 288px;
  }
}
